<style>
  #NewNotify{
    display: none;
    position: absolute;
    background-color: #ff3040;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0px;
    right: 2px;
  }
</style>
<% if (user) { %> 
    <div class="play-type">
      <div class="arena" id="home-btn">

        <svg rpl="" height="24" icon-name="home-fill" viewBox="0 0 20 20" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="m19.724 6.765-9.08-6.11A1.115 1.115 0 0 0 9.368.647L.276 6.765a.623.623 0 0 0 .35 1.141h.444v10.001c.001.278.113.544.31.74.196.195.462.304.739.303h5.16a.704.704 0 0 0 .706-.707v-4.507c0-.76 1.138-1.475 2.02-1.475.882 0 2.02.715 2.02 1.475v4.507a.71.71 0 0 0 .707.707h5.16c.274-.001.538-.112.732-.307.195-.195.305-.46.306-.736v-10h.445a.618.618 0 0 0 .598-.44.625.625 0 0 0-.25-.702Z" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="1.5"/>
          </svg>
       
      </div>
      <div class="rush" id="search-btn">
        <svg rpl="" aria-hidden="true" fill="currentColor" height="24px" icon-name="search-outline" viewBox="0 0 20 20" width="24px" xmlns="http://www.w3.org/2000/svg"> 
          <path d="M18.916 17.717 15.2 14.042a8.043 8.043 0 1 0-1.053 1.069l3.709 3.672a.75.75 0 0 0 1.056-1.066h.004ZM2.5 9a6.5 6.5 0 1 1 11.229 4.446.695.695 0 0 0-.116.077.752.752 0 0 0-.086.132A6.492 6.492 0 0 1 2.5 9Z"></path>
        </svg>
    </div>


      <div class="rush" id="chat-btn">
          <svg rpl="" fill="currentColor" height="24" icon-name="chat-outline" viewBox="0 0 20 20" width="24" xmlns="http://www.w3.org/2000/svg"> 
            <path d="M11.61 19.872a10.013 10.013 0 0 0 6.51-4.035A9.999 9.999 0 0 0 12.275.264c-1.28-.3-2.606-.345-3.903-.132a10.05 10.05 0 0 0-8.25 8.311 9.877 9.877 0 0 0 1.202 6.491l-1.24 4.078a.727.727 0 0 0 .178.721.72.72 0 0 0 .72.19l4.17-1.193A9.87 9.87 0 0 0 9.998 20c.54 0 1.079-.043 1.612-.128ZM1.558 18.458l1.118-3.69-.145-.24A8.647 8.647 0 0 1 1.36 8.634a8.778 8.778 0 0 1 7.21-7.27 8.765 8.765 0 0 1 8.916 3.995 8.748 8.748 0 0 1-2.849 12.09 8.763 8.763 0 0 1-3.22 1.188 8.68 8.68 0 0 1-5.862-1.118l-.232-.138-3.764 1.076ZM6.006 9a1.001 1.001 0 0 0-.708 1.707A1 1 0 1 0 6.006 9Zm4.002 0a1.001 1.001 0 0 0-.195 1.981 1 1 0 1 0 .195-1.98Zm4.003 0a1.001 1.001 0 1 0 0 2.003 1.001 1.001 0 0 0 0-2.003Z"></path>
          </svg>      
      </div>

      <div class="rush" id="notification-btn" style="position: relative;" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24px">
          <g data-name="39-Alarm">
            <path d="m31.89 27.55-2-4A1 1 0 0 0 29 23h-1v-8a12.31 12.31 0 0 0-9-11.8V2a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v1.2A12.31 12.31 0 0 0 4 15v8H3a1 1 0 0 0-.89.55l-2 4A1 1 0 0 0 1 29h11.14a4 4 0 0 0 7.72 0H31a1 1 0 0 0 .89-1.45zM2.62 27l1-2H23v-2H6v-8a10.25 10.25 0 0 1 8.18-10A1 1 0 0 0 15 4V2h2v2a1 1 0 0 0 .82 1A10.25 10.25 0 0 1 26 15v9a1 1 0 0 0 1 1h1.38l1 2z" fill="#ffffff" />
          </g></svg>  
          <div id="NewNotify" ></div>  
    </div>
  
      <% if (user) { %>
      <div class="pt-profile" onclick="showprofile(1)" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32" xml:space="preserve" width="30px">
          <path d="M16 31C7.729 31 1 24.271 1 16S7.729 1 16 1s15 6.729 15 15-6.729 15-15 15zm0-28C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3z" fill="#ffffff" />
          <circle cx="16" cy="11.368" r="3.368"fill="#ffffff"/>
          <path d="M20.673 24h-9.346c-.83 0-1.502-.672-1.502-1.502v-.987a5.404 5.404 0 0 1 5.403-5.403h1.544a5.404 5.404 0 0 1 5.403 5.403v.987c0 .83-.672 1.502-1.502 1.502z"fill="#ffffff"/>
        </svg>
      </div>
      <% } %>
    </div>
    <% } %>

    <% if (user) { %> 
        <div id="overlay">
          <div id="content">
            <div class="stclose">
              <button class="clm" style="background-color: #ffa27f00" onclick="showprofile(2)">
                <span class="money-need" style="font-size: 26px"> close </span>
              </button>
            </div>
            <div class="c-head">
              <div class="p-pop">
                <img src="/icons/profile.gif" alt="Your GIF" class="gif-overlay" width="40px" />
                &nbsp;&nbsp;<%= user.name.split(' ')[0] %>
              </div>
            </div>
      
            <div class="p-options">
              <div class="p-profile" onclick="window.location.href='/my-profile'">
                <img src="/icons/profile.gif" alt="Your GIF" class="gif-overlay" width="32px" />&nbsp;&nbsp;<button>My Profile</button>
              </div>
              <div class="p-profile" onclick="window.location.href='/user/liked-posts'">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 30px;" >
                  <path d="M22.813 7.338a6.736 6.736 0 0 0-3.8-4.49c-3.206-1.471-6 .878-7.016 1.9-1.013-1.025-3.813-3.374-7.016-1.9a6.736 6.736 0 0 0-3.8 4.49 5.818 5.818 0 0 0 1 4.98c1.708 2.215 9.156 8.891 9.472 9.174a.514.514 0 0 0 .688 0c.316-.283 7.764-6.959 9.472-9.174a5.815 5.815 0 0 0 1-4.98zM21 11.689c-1.448 1.878-7.488 7.362-9 8.726-1.512-1.364-7.552-6.848-9-8.726a4.8 4.8 0 0 1-.812-4.1 5.711 5.711 0 0 1 3.226-3.8c2.229-1.027 4.731.311 6.186 2.05a.516.516 0 0 0 .4.188.516.516 0 0 0 .4-.188c.029-.035 2.958-3.536 6.188-2.055a5.714 5.714 0 0 1 3.226 3.8A4.8 4.8 0 0 1 21 11.689z" fill="#ffffff"/>
                  </svg>
                &nbsp;&nbsp;<button>My Likes</button>
              </div>
      
              <div class="p-profile" onclick="window.location.href='/user/saved-posts'">
                <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="32px" fill="#e3e3e3"><path d="M200-120v-656.67q0-27 19.83-46.83 19.84-19.83 46.84-19.83h426.66q27 0 46.84 19.83Q760-803.67 760-776.67V-120L480-240 200-120Zm66.67-101.33L480-312l213.33 90.67v-555.34H266.67v555.34Zm0-555.34h426.66-426.66Z"/></svg>
                &nbsp;&nbsp;<button>My Saves</button>
              </div>
      
      
      
      
              <div class="donation" onclick="window.location.href='/donation'">
                <img src="/icons/donation.gif" alt="Your GIF" class="gif-overlay" width="32px" />&nbsp;&nbsp;<button>Donate Us</button>
              </div>
              <!-- <div class="term">
                <img src="/icons/term.gif" alt="Your GIF" class="gif-overlay" width="32px" />&nbsp;&nbsp;
                <button> <a href="/asset/T&C.pdf" style="text-decoration: none; color: inherit;font-size: 16px;">Term and Conditions</a></button>
              </div> -->
              <div class="contact">
                <span class="money-need"> contact_support </span>&nbsp;&nbsp;
                <button onclick="window.location.href='mailto:apsarabaazar@gmail.com';">Contact Us</button>
              </div>
              <div class="app">
                <span class="money-need"> download </span>&nbsp;&nbsp;<button id="install-button" onclick="install()">Install App</button>
              </div>
              <div class="logout">
                <span class="money-need"> logout </span>&nbsp;&nbsp;<button>
                  <a style="font-size: 16px" href="/auth/logout">Logout</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <% } %>

        <script>
          function showprofile(n) {
  const o = document.getElementById("overlay");
  const c = document.getElementById("content");
  if (!o || !c) return;

  if (n === 1) {
    o.style.display = "flex";
    c.style.display = "flex";
    // Trigger a reflow to ensure the browser notices the change
    c.offsetHeight; // This forces a reflow
    c.style.height = "70vh";
  } else {
    c.style.height = "0vh";
    setTimeout(() => {
      o.style.display = "none";
      c.style.display = "none";
    }, 500); // Delay matches the transition duration
  }
}

        </script>